
@import url(/css/fonts.css);
* {
    font-size: 16px;
}

html {
    font-family: 'TT Lakes', sans-serif;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    width: 320px;
  }


.wrapper {
    display: flex;
    flex-flow: row wrap;
    
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    background-color: #ffffff;
    height: 88px;
    flex: 1 1 320px;
}



.header__round {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    
}
.header__list li {
    list-style: none;
}
.divider {
    background: #D9FFF5;
    width: 320px;
    height: 1px;
}
.header__main, .header__services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 auto;
    gap: 24px 16px;
}

button {
    margin: 0;
    padding: 0;
}
.header__button { 
    outline: none;
    background: none;
    border: none;
    text-decoration: none;

}
.header__button:first-child {
    margin-left: 0;
}

.header__button:last-child {
    margin-right: 0;
}
.services {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #f8f8f8;
}

.services__title {
    position: relative;
    padding: 24px 16px;
}


.services__highlight {
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.services__maintitle {
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.services__menu {
    display: flex;
    flex: row nowrap;
    justify-content: flex-start;
    align-items: center;

    overflow-x: auto;
    overflow-y: none;
    scrollbar-width: none;
}

.services__text {
    font-weight: 400;
}

.services__button {
    flex: 1 0 auto;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin: 24px 12px;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;

   /*  transform: matrix(-1, 0, 0, 1, 0, 0); */

}

.services__button:first-child {
    margin-left: 0;
}


.services__picture {
   
}


.services__button a:link {
    color: #7E7E82;
    outline: none;
    background: none;
    border: none;
    text-decoration: none;
    
  }
  
.services__button a:visited {
    color: #7E7E82;
  }
  
  
.services__button a:hover {
    /* border: 2px solid #B8FFEC;
    border-radius: 6px; */
  }
  
.services__button  a:active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

